*{
    padding: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
body{
background-color: rgb(185, 185, 185);
color: rgb(129, 129, 173);
text-align: center;
}


#flip-button {
    transition: transform 0.3s ease-in-out;
    background-color: rgb(185, 185, 185);
    color: rgb(239, 113, 226);
    border: 10px solid rgb(184, 138, 233);
    border-radius: 50%;
  }
  
  .rotate-90 {
    transform: rotate(90deg);
  }
  
  .rotate-180 {
    transform: rotate(180deg);

  }
  
  .rotate-270 {
    transform: rotate(270deg);

  }
  .rotate-360 {
    transform: rotate(360deg);

  }
