*{
    padding: 2vw;
    margin: 2vw;
    color: rgb(107, 131, 216);
}

.GridContainer {
    display: grid;
    grid-template-areas: 'header header header' "left right right" "bottomleft bottomright bottomright";
}

.item1 {
    grid-area: header;
    color: bisque;
    background-color: lightblue;
    width: 50%;
    transition: width 2s;
}
.item1:hover {
    width: 89.2%;
}
.item2 {
    grid-area: left;
    color: aquamarine;
    background-color: lightblue;
}

.item3 {
    grid-area: right;
    background-color: lightblue;
}
.item4 {
    grid-area: bottomleft;
    background-color: darksalmon;
}

.item5 {
    grid-area: bottomright;
    background-color: mistyrose;
}


@media  only screen and (max-width:800px) {
    .GridContainer {
        display: grid;
        grid-template-areas: 'header' 'left' 'right';
    }
    
}
