<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"> </script>
</head>
<body>
   
    <div class="GridContainer">
        <div class="item1"> 
            <h1> header </h1> 
        </div>
        <div class="item2"> 
            <h1 id = "demo"> left </h1>
            <script>
                document.getElementById("demo").innerHTML= "hello JavaScript!"
            </script>
        </div>
        <div class="item3">
             <h1> right </h1>
        </div>
        <div class="item4">
            <h2>right</h2>
        </div>
        <div class="item5">
            <h1>
                left
            </h1>
        </div>

     </div>
     
</body>
